/* fonts */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* design */

.container {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
}

.userPanel{
    width: 95%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 10vh;
    padding: 0px 30px 10px 10%;
    box-sizing: border-box;
}

.title{
    font-size: 2.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #2C3B89;
}

.icons{
text-align: right;
}

#questionMark{
    width: 5%;
}

#userIcon{
    width: 7%;
    margin-left: 1%;
}

#plus{
    width: 7%;
    margin-top: 3vh;
    cursor: pointer;
}

.content{
width: 85%;
margin-left: 5%;
height: 55vh;
}

.routeLog{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    font-size: 1.2rem;
    padding: 10px;
    font-family: 'Roboto';
    border-bottom: dashed black 1px;
}

.field{
    display: flex;
    justify-content: center;
    width: 15%;
    padding: 0 1%;
}
#lp{
    width: 3%;
}

#captions{
    background-color: #C4C4C4;
    border: none;
}

#red{
    color: red;
}

#grey{
    color: rgb(107, 107, 107);
}

#green{
    color: rgb(13, 180, 13)
}

/* form */
#overlap{
    width: 80%;
    height: 90%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 60%;
    height: 80%;
    background-color: white;
    border: #2C3B89 solid;
}

form{
    display: flex;
    height: 100%;
    width: 100%;
}

#blue{
    color: #2C3B89;
}

.formTitle{
    padding: 5% 10%;
}

.formContent{
    width: 70%;
    height: 100%;
}

.titleSmall{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #404040;
}

.formP1{
    display: flex;
    height: 30%;
    width: 100%;
    padding: 3% 10%;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left{
    width: 20%;
    margin-top: 1%;
}

.right{
    margin-left: 10%;;
    width: 60%;
}

input{
    border: #2C3B89 solid 1px;
    padding: 1.5%;
    height: 15%;
    margin: 1% 0;
}

select{
    border: #2C3B89 solid 1px;
    padding: 1.5%;
    height: 22%;
    margin: 1% 0;
}

.formP2{
    display: flex;
    height: 15%;
    width: 100%;
    padding: 3% 10%;
    margin-top: 5%;
}

#km, #invoice{
    padding: 1.5%;
    height: 30%;
    margin-bottom: 1%;
    background-color: lightgray;
    width: 30%;
}

.formP3{
    height: 20%;
    padding: 0 10%;
    display: flex;
    align-items: center;
}
#checkbox{
    width: 20%;
    height: 40%;
    margin-right: 7%;
}

.formP4{
    height: 80%;
    width: 30%;
    display: flex;
    align-items: flex-end;
}

button{
    height: 15%;
    width: 150%;
    background-color: #2C3B89;
    margin-bottom: 20%;
    margin-right: 5%;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}